@layer reset, page, component, overrides;

@layer reset {
	body {
		margin-block: 1.5rem;
		margin-inline: auto;
		max-inline-size: 37.5rem;
	}
}

@layer page {
}

@layer component {
}

@layer overrides {
}
